.aboutPage {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.aboutTop {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
	min-height: 50%;
}
.aboutTop h1 {
	font-size: 3rem;
}
.aboutTop p {
	font-size: 1.1rem;
}
.aboutLink {
	font-size: 1.3rem;
}
