* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body,
#__next {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height: 100%;
}

a {
	color: steelblue;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}
p {
	margin: 10px 0;
}
h1 {
	margin-bottom: 20px;
	font-size: 3.6rem;
}

.btn {
	display: inline-block;
	background: red;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
}
.btn:hover {
	opacity: 0.9;
}
.btn-secondary {
	font: inherit;
	font-size: 13px;
	background: #000;
	color: #fff !important;
	border: 0;
	border-radius: 5px;
	padding: 5px 15px;
	margin: 0 20px;
	cursor: pointer;
}
.btn-secondary:hover {
	opacity: 0.8;
}
.btn-icon svg {
	margin-right: 5px;
}
.mobile_nav {
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 8px;
}
@media (min-width: 700px) {
	.mobile_nav {
		display: none;
	}
}
